@layer base {
  * {
    @apply border-border;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .font-heading {
    font-family: 'Poppins', sans-serif;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}